* {
	box-sizing: border-box;
}

html {
	font: 400 1rem Poppins, sans-serif;
}

body {
	padding: 0;
	margin: 0;
	background: #eef4ed;
}

h4,
.h4 {
	line-height: calc(2px + 2ex + 2px);
	margin-bottom: 0.65em;
	font-size: min(max(1rem, 4.333vw), 1.333rem);
}

h3,
.h3 {
	line-height: calc(2px + 2ex + 2px);
	margin-bottom: 0.65em;
	font-size: min(max(1.19051563rem, 4.58637337vw), 1.776889rem);
}

h2,
.h2 {
	line-height: calc(2px + 2ex + 2px);
	margin-bottom: 0.65em;
	font-size: min(max(1.5869573348rem, 4.7816357022vw), 2.368593037rem);
}

h1,
.h1 {
	line-height: calc(2px + 2ex + 2px);
	margin-bottom: 0.65em;
	font-size: min(max(2.1154141273rem, 5.041920391vw), 3.1573345183rem);
}

p,
li,
h1,
h2,
h3,
h4 {
	word-break: break-word;
	margin-top: 0;
}

h2 {
	margin: 1rem auto;
}

hr {
	background-color: #aaa;
	max-width: 10ch;
	border: none;
	display: block;
	height: 2px;
	margin: 1.5rem auto;
}

pre,
code {
	font-family: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono", "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
	font-size: 1rem;
	font-weight: 400;
}

code {
	background-color: #ddd;
}

input,
select,
textarea {
	font: 400 1rem Poppins, sans-serif;
	padding: 1px 2px;
	border-width: 1px;
	border-style: inset;
}

select {
	max-width: calc(100vw - 2px);
}

textarea {
	resize: vertical;
}

input[type="checkbox"] {
	height: 1.5rem;
	width: 1.5rem;
	margin: 0;
}

article {
	display: block;
	max-width: 100vw;
	overflow: hidden;
}

article label {
	display: block;
}

article textarea {
	width: 100%;
	height: 10rem;
}

header,
footer,
section {
	padding: 2px 1px;
}

header,
footer {
	background: #eef4ed;
	color: #0b2545;
	text-align: center;
}

header section {
	margin: 1rem auto;
	padding: 0;
	text-align: center;
	background: #eef4ed;
	color: #0b2545;
}

footer section {
	display: grid;
	grid-template-columns: 1fr 5fr;
	grid-gap: 1rem;
	margin: 1rem auto 2rem;
	padding: 0;
	text-align: left;
	background: #eef4ed;
	color: #0b2545;
}

footer section div:nth-child(odd) {
	font-weight: bold;
	text-align: right;
}

footer article {
	display: grid;
	grid-template-rows: auto;
	grid-gap: 1rem;
	margin: 1rem auto;
	padding: 0;
	text-align: left;
	background: #eef4ed;
	color: #0b2545;
}

.code-block {
	all: unset;
	display: grid;
	grid-template-columns: 3rem 1fr;
	column-gap: 0.5rem;
	margin: 0 1rem 2rem;
	padding: 1.5em 0.5em;
	border-radius: 0.25em;
	box-shadow: 0.1em 0.1em 0.5em rgba(0 0 0 / 45%);
	font-family: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono", "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5rem;
	white-space: nowrap;
	overflow: hidden;
}

.code-block div:first-child {
	color: rgb(128 128 128);
	text-align: right;
	border-right: 1px solid rgb(192 192 192);
	padding-right: 0.5rem;
	user-select: none;
}

.code-block div:last-child {
	overflow: auto;
}

.code-block span.comment {
	color: #008000;
}

.code-block span.element {
	color: #00f;
}

.code-block span.attribute {
	color: #f00;
}

.code-block span.js {
	color: #000;
}

.code-block span.number {
	color: #098658;
}

header img,
footer img {
	display: block;
	height: 15vw;
	width: auto;
	margin: 2px auto;
}

footer img {
	margin: 2rem auto 0;
	height: 5vw;
}

header h1,
footer h3 {
	text-align: center;
	margin: 0;
}

section {
	background: #134074;
	color: #eef4ed;
}

.demo-data {
	display: flex;
	flex-direction: column;
}

.demo-data div {
	flex: 1;
	margin-bottom: 0.25rem;
}

.demo-options {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-gap: 0.5rem;
}

.demo-options h3 {
	margin: 0;
}

.demo-options article {
	display: flex;
	flex-direction: column;
}

.demo-options article div {
	flex: 1;
	margin-bottom: 0.25rem;
}

.demo-display {
}

.demo-button-holder {
	display: flex;
	justify-content: center;
}

.demo-button {
	font-family: Poppins, sans-serif;
	font-weight: 700;
	font-size: 1.5em;
	border: none;
	background-color: rgba(11 37 69 / 100%);
	background-size: 75%;
	background-position: center center;
	background-repeat: no-repeat;
	color: rgba(238 244 237 / 100%);
	border-radius: 8px;
	box-shadow: 0 3px 5px rgba(19 49 92 / 18%);
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 0.25em 2em;
	min-width: 12ch;
	min-height: 40px;
	cursor: pointer;
}

.demo-button:hover,
.demo-button:focus {
	outline: none;
	background-color: rgba(141 169 196 / 100%);
	color: rgba(19 64 116 / 100%);
	text-decoration: none;
}

#jsonholder {
	height: 20rem;
	background: #0b2545;
	color: #eef4ed;
	overflow: hidden;
	resize: vertical;
}

#test-code {
	all: unset;
	display: grid;
	grid-template-columns: 3rem 1fr;
	column-gap: 0.5rem;
	margin: 0 1rem 2rem;
	padding: 1.5em 0.5em;
	border-radius: 0.25em;
	box-shadow: 0.1em 0.1em 0.5em rgba(0 0 0 / 45%);
	font-family: "Fira Code", "Roboto Mono", Consolas, "Courier New", monospace;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5rem;
	white-space: nowrap;
	overflow: hidden;
}

#test-code div {
	all: unset;
}

#test-code div:first-child {
	color: rgb(128 128 128);
	text-align: right;
	border-right: 1px solid rgb(192 192 192);
	padding-right: 0.5rem;
	user-select: none;
}

#test-code div:last-child {
	overflow: auto;
}

@media screen and (min-width: 768px) {
	select {
		max-width: calc(100vw - 2rem);
	}

	header,
	footer,
	section {
		padding: 0.5rem 2rem;
	}

	.demo-options {
		grid-template-columns: auto auto auto auto 1fr;
	}

	header section,
	footer section,
	footer article {
		width: 90%;
	}
}

@media screen and (min-width: 1024px) {
	select {
		max-width: calc(100vw - 4rem);
	}

	header,
	footer,
	section {
		padding: 1rem 4rem;
	}

	header section,
	footer section,
	footer article {
		width: 80%;
	}
}

@media screen and (min-width: 1280px) {
	select {
		max-width: calc(100vw - 6rem);
	}

	header,
	footer,
	section {
		padding: 1rem 6rem;
	}

	header section,
	footer section,
	footer article {
		width: 60%;
	}
}
